@model Tarefa
@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes</h2>
<div>
    <h4>Informação da Tarefa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Titulo)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Descricao)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Data)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Hora_Inicial)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Hora_Inicial)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Hora_Final)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Hora_Final)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Prioridade)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Prioridade)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Finalizada)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.Finalizada)
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Editar</a>
    <a asp-action="Index">Voltar a lista</a>
</div>